
{% include '_meta.njk' %}
{% include '_links.njk' %}
{% include '_scripts.njk' %}

  <title>{{ title }}</title>
  <style>
    html body {
        font-family: 'Raleway', sans-serif;
        background-color: white;
    }

    :root {
        --accent: #447db9;
        --border-width:  5px ;
    }
  </style>

