
{% include '_meta.njk' %}
{% include '_links.njk' %}
{% include '_scripts.njk' %}

  {#- TODO: why is this here? shift into main.css #}
  <style>
    html body {
        font-family: 'Raleway', sans-serif;
        background-color: white;
    }

    :root {
        --accent: #447db9;
        --border-width:  5px ;
    }
  </style>
{% if customStyle != null %}
  <style>
  {{ customStyle | safe }}
  </style>
{% endif %}
