  <link rel="sitemap"     type="application/xml" href="{{ siteinfo.site_url }}sitemap.xml" title="Sitemap" />
  <link rel="icon"        type="image/png"       href="{{ '/images/phlummox-icon.png' | url }}" />
  <link rel="stylesheet"  href="{{ '/css/main.css' | url }}" />
  <link rel="stylesheet"  href="{{ '/css/over.css' | url }}" />
  <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  <link rel="stylesheet"  href="{{ '/css/bootstrap.css' | url }}" >
  <link rel="stylesheet"  href="{{ '/css/bootstrap-theme.css' | url }}" >
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  {#- TODO: if have rss link attribute, then ...
  <link href="{|{ .RSSLink }|}" rel="alternate" type="application/rss+xml" title="{|{ .Site.Title }|}" />
  <link href="{|{ .RSSLink }|}" rel="feed" type="application/rss+xml" title="{|{ .Site.Title }|}" />
  #}

{# vim: syntax=markdown
#}
