---
permalink: /css/main.css
---

html, body {
    height: 100%;
}

body {
  margin: 0;
}

body {
  padding-top:    55px;
  display:        flex;
  text-align:     center;
  flex-direction: column;
  color:          #000;
}

/*
    font-size:      16px;
*/

main {
  padding: 25px;
  flex: 1 0 auto;
  max-width: 750px;
  position: relative;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateX(-50%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 1em;
}

/* Inline code */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* Blocks of code */
pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    hyphens: none;
    background-color: transparent;
    border-radius: 0;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: white;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

.text-left {
  text-align: left;
}

sub,
sup {
  font-size: 85%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}



/* indicate current page */

[aria-current]:not([aria-current="false"]) {
  font-weight: bold;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

.single-content {
    hyphens: auto;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}


/*commento customization*/

.commento-submit-button {
  background: var(--accent) !important;
  line-height: 3px !important;
}

.commento-root-font * {
    font-family: 'Raleway', sans-serif !important;
}

#commento-markdown-help-root {
  line-height: 2.5 !important;
}

{# vim: syntax=css :
#}
