---
permalink: /css/over.css
eleventyExcludeFromCollections: true
---

.intro > h1 {
  color: var(--accent) !important;
  font-size: x-large !important;
}

.intro > h2 {
  display: none;
}

.text-muted {
  font-size: small;
}

.item-tag {
    background-color: var(--accent);
}


